@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins';
    font-weight: 100;
    font-size: 1em;
    background-color: #f5f5f5;
}

.negrita {
    font-weight: bold;
    align-content: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 1;
}

.hidden {
    display: none;
}

/* HEADER */

.header-container {
    height: 50vh;
    flex-direction: column;
    display: flex;
  
}

.header-principal {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 20px 30px 20px 30px;
   
 
}

.logo-tienda {
    display: flex;
}

.logo-tienda>.logo {
    height: 2em;
    margin-right: 10px;
}

.logo-tienda>.nombre-tienda {
    align-items: center;
    display: flex;
    font-size: 1.2em;
    font-weight: 100;
}

#abrir-carrito {
    font-size: 0.9em;
    display: flex;
    align-items: center;
}

/* Menu carrito */

.menu-carrito {
    height: 100vh;
    width: 400px;
    background-color: #ffff;
    right: 0;
    position: absolute;
    padding: 40px 20px 30px 20px;
    z-index: 2;
}

.header-carrito {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#cerrar-carrito {
    height: min-content;
}

.fa-window-close {
    font-size: 2em;
}

/* BANNER */

.banner {
    display: flex;
    flex: 5 1 auto;
    justify-content: center;
    align-content: flex-end;
}

.banner>.titulo-principal {
    display: flex;
    align-items: center;
    color: white;
    font-size: 2.1em;
}

/********* CONTENIDO PRINCIPAL ********/

.contenido-principal {
    display: flex;
}

/* ASIDE */

.filtros-busquedas {
    flex-basis: 275px;
    height: 600px;
    padding: 10px;
    padding-left: 30px;
}

#busqueda {
    height: 30px;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 2px solid black;
}

.textbox-busqueda {
    display: flex;
    position: relative;
}

.fas.fa-search {
    position: absolute;
    right: 30px;
    top: 5px;
}

.contenedor-filtro-categoria, .contenedor-filtro-puntaje {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 10px;
}

.header-filtro-busqueda {
    /* flex: 0 1 auto; */
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
}

.titulo-aside {
    align-items: center;
    display: flex;
}

.formulario-filtro {
    height: 90%;
    display: flex;
    flex-direction: column;
}

.contenedor-filtro-busqueda {
    margin-bottom: 10px;
    padding: 5px;
}

.header-filtro-busqueda>p {
    display: flex;
    align-items: center;
}

.contenedor-filtro-puntaje {
    flex: 2 1 auto;
}

.fa-star {
    color: #fbc02d;
}

/* MAIN */

main {
    flex: 1 1;
    flex-direction: column;
    padding: 10px 0px;
}

.barra-mostrar-items {
    margin: 0 15px 20px 10px;
    padding: 10px;
}

.barra-mostrar-items, .show-items {
    justify-content: space-between;
    display: flex;
    background-color: white;
    height: 100px;
    align-items: center;
}

.cantidad-productos, .show-items {
    padding: 10px 10px;
}

button {
    border: none;
    background-color: transparent;
}

.icono-size {
    font-size: 1.50em;
    margin: 0 5px 0 10px;
    /* margin-right: 5px;
    margin-left: 10px; */
}

.contenedor-productos {
    flex-wrap: wrap;
    display: flex;
}

.list-view {
    flex-direction: column;
}

.card-producto {
    flex: 2 1 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 15px 20px 10px;
    background-color: white;
    padding: 20px;
}

.informacion p {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.boton-comprar {
    background-color: #f5f5f5;
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 50px;
    margin: 10px;
}

/* FOOTER */

footer {
    margin-top: 100px;
    height: 15vh;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}