@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    font-weight: 100;
    font-size: 1em;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

.negrita {
    font-weight: bold;
    align-content: center;
}

.no-scroll {
    position: fixed;
    overflow: hidden;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100vw;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

/* HEADER */

.header-container {
    height: 50vh;
    flex-direction: column;
    display: flex;
}

.header-principal {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 20px 30px 20px 30px;
}

.logo-tienda {
    display: flex;
}

.logo-tienda>.logo {
    height: 2em;
    margin-right: 10px;
}

.logo-tienda>.nombre-tienda {
    align-items: center;
    display: flex;
    font-size: 1.2em;
    font-weight: 100;
}

#abrir-carrito {
    font-size: 0.9em;
    display: flex;
    align-items: center;
}

/* Menu carrito */

.menu-carrito {
    /* visibility: hidden; */
    height: 100vh;
    max-width: 400px;
    background-color: #ffff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 40px 20px 30px 20px;
    z-index: 2;
    transform: translateX(100%);
    transition: 1s ease;
    /* overflow: hidden; */
}

.mostrar-carrito {
    /* visibility: visible; */
    transform: translateX(0);
}

.header-carrito {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#cerrar-carrito {
    height: min-content;
}

.fa-window-close {
    font-size: 2em;
}

.productos-seleccionados {
    width: 100%;
    height: 65%;
    border: 2px solid #000;
}

.acciones-carrito {
    width: 100%;
    height: 125px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

#realizar-compra {
    height: 50px;
    width: 100%;
    border-radius: 5px;
}

#vaciar-carrito {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
    color: #FF0000;
    border: 1px solid #FF0000;
}

.boton-principal {
    background-color: #53a653;
    color: #ffff;
    /* font-weight: 800; */
    border: none;
}

/************************
        Modal 
 ************************/

.modal-container {
    position: absolute;
    top: 50vh;
    left: 50%;
    background-color: #ffff;
    z-index: 4;
    width: 800px;
    height: 650px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    transform: scale(0.1) translate(50%, 50%);
    transition: all 0.3s ease-in;
}

.mostrar-modal {
    visibility: visible;
    transform: scale(1.03) translate(-50%, -50%);
}

.seccion-principal {
    display: flex;
}

#form-procesoPago {
    width: 60%;
    padding: 20px;
}

.informacion, .opciones-de-pago {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
}

.textbox-style {
    height: 30px;
    width: 80%;
    background: none;
    border: none;
    border-bottom: 1px solid #000;
}

.informacion>label, hr, .opciones-de-pago {
    margin-top: 40px;
}

.opciones-de-pago>h3 {
    margin-bottom: 20px;
}

hr {
    color: #f5f5f5;
    opacity: 0.5;
}

.contenedor-resumen-checkout {
    margin: 0 0 10px 20px;
    width: 40%;
    height: 100%;
    background-color: #f5f5f5;
    padding: 30px 20px 30px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.renglones-resumen * {
    display: flex;
    justify-content: space-between;
}

.acciones-modal {
    margin-top: 20px;
    justify-content: flex-end;
    display: flex;
}

.btn-modal-style {
    height: 50px;
    width: 220px;
    max-width: 220px;
    border-radius: 5px;
    margin-left: 20px;
}

#seguir-comprando {
    background-color: #f5f5f5;
}

.style-recargo {
    color: #FF0000;
}

.style-descuento {
    color: #53a653;
}

/* BANNER */

.banner {
    display: flex;
    flex: 5 1 auto;
    justify-content: center;
    align-content: flex-end;
}

.banner>.titulo-principal {
    display: flex;
    align-items: center;
    color: white;
    font-size: 2.1em;
}

/********* CONTENIDO PRINCIPAL ********/

.contenido-principal {
    display: flex;
    max-width: 1351px;
}

/* ASIDE */

.filtros-busquedas {
    flex-basis: 275px;
    height: 600px;
    padding: 10px;
    padding-left: 30px;
}

#busqueda {
    height: 30px;
    width: 100%;
}

.textbox-busqueda {
    display: flex;
    position: relative;
}

.fas.fa-search {
    position: absolute;
    right: 30px;
    top: 5px;
}

.contenedor-filtro-categoria, .contenedor-filtro-puntaje {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 10px;
}

.header-filtro-busqueda {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
}

.titulo-aside {
    align-items: center;
    display: flex;
}

.formulario-filtro {
    height: 90%;
    display: flex;
    flex-direction: column;
}

.contenedor-filtro-busqueda {
    margin-bottom: 10px;
    padding: 5px;
}

.header-filtro-busqueda>p {
    display: flex;
    align-items: center;
}

.contenedor-filtro-puntaje {
    flex: 2 1 auto;
}

.fa-star {
    color: #fbc02d;
}

/* MAIN */

main {
    flex: 1 1;
    flex-direction: column;
    padding: 10px 0px;
}

.barra-mostrar-items {
    margin: 0 15px 20px 10px;
    padding: 10px;
}

.barra-mostrar-items {
    justify-content: space-between;
    display: flex;
    background-color: white;
    height: 100px;
    align-items: center;
}

.cantidad-productos, .show-items {
    padding: 10px 10px;
}

button {
    border: none;
    background-color: transparent;
}

.icono-size {
    font-size: 1.50em;
    /* margin: 0 5px 0 10px; */
}

.contenedor-productos {
    flex-wrap: wrap;
    display: flex;
}

.list-view {
    flex-direction: column;
}

.card-producto {
    flex: 1 1 300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px 20px 10px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    /* max-width: 300px; */
}

.contenedor-imagen-producto img {
    width: 100%;
    margin: 0 auto;
}

.contenedor-imagen-producto {
    height: 250px;
    display: flex;
}

.informacion p {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.boton-comprar {
    background-color: #f5f5f5;
    border-radius: 5px;
    border: none;
    width: 90%;
    height: 50px;
    margin: 10px;
}

.hidden {
    display: none;
}

#vaciar-carrito :hover {
    background-color: #FF0000;
    color: #fff;
}

/* FOOTER */

footer {
    margin-top: 100px;
    height: 15vh;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
}

.puntuacion-escrita {
    font-size: x-small;
    color: #000;
    text-align: center;
    line-height: 25px;
}

.offscreen {
    clip-path: inset(100%);
    clip: rect(1px 1px 1px 1px);
    /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    /* added line */
    width: 1px;
}